<launch>
    <node name="orb_test_node" pkg="orb_test" type="orb_test_node" output="screen">#  launch-prefix="gdb -ex run --args">
        <rosparam file="$(find orb_test)/config/common.yaml"/>
        <rosparam file="$(find orb_test)/config/euroc.yaml"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="world_broadcaster"
          args="0 0 0 0 0 0 1 world cam0 100"/>
</launch>
