<launch>
    <!-- Image undistort -->
    <arg name="input_camera_name" default="cam0"/>
    <arg name="scale" default="1.0"/>
    <arg name="process_every_nth_frame" default="1"/>
    <arg name="params_camchain"
         default="/home/sigtot/Downloads/data/euroc/calibration/camchain.yaml"/>

    <node name="image_undistort_node" pkg="image_undistort" type="image_undistort_node">
        <param name="input_camera_info_from_ros_params" value="true"/>
        <param name="input_camera_namespace" value="$(arg input_camera_name)"/>
        <param name="scale" value="$(arg scale)"/>
        <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>

        <rosparam file="$(arg params_camchain)"/>

        <remap from="input/image" to="$(arg input_camera_name)/image_raw"/>
    </node>
    <!-- /Image undistort -->

    <node pkg="tf" type="static_transform_publisher" name="world_broadcaster"
          args="0 0 0 0 0 0 1 world cam0 100"/>
</launch>