<launch>

  <node name="orb_test_node" pkg="orb_test" type="orb_test_node" output="screen">
    <rosparam file="$(find orb_test)/config/newer_college.yaml"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 1 world camera_link 100" />


</launch>
